[2022-04-09 20:57] robsyme opened #5 "Running fails with `com/askimed/nf/test/App has been compiled by a more recent version of the Java Runtime`"
Hi askimed team

I'm very excited to try out the nf-test tool, but installing with

[code]

and then running with

[code]

Gives the error

[code]

I'm using:

[code]

Which version of java was used to compille nf-test, and is openjdk 1.8 not supported?

[2022-04-16 09:49] lukfor commented on #5
Thank you for your feedback! nf-test 0.5.1 supports now Java 8.

[2022-04-19 08:51] #5 closed

[2022-04-25 19:09] robsyme commented on #5
Thanks Lukas! Looking forward to adding (much needed) testing to our workflows.

[2022-07-20 08:16] kailifapon opened #7 "There is a problem with the function getMd5"
`getMd5` function omits the leading 0.  For those MD5 starts with 0, it will get the error result. Modify maybe something like this: `return bigInt.toString(16).padLeft(32, '0');`

[2022-07-26 15:18] Khushbu04in opened #8 "Is it possible to have dummy output"
I want to test a workflow but it has multiple steps. I don't want to test everything in one shot. Is is possible to create some output files and nf-test just run portion for which files are not available (similar to nextflow)

[2022-07-29 07:15] noepozzan opened #9 "Command 'ps' required by nextflow to collect task metrics cannot be found"
Hi,

nf-test looks like a very nice tool. I wanted to test a nextflow pipeline with singularity containers.
Since most containers do not have "ps" installed, the tests don't pass.
Is there a way to run the tests without "ps" or are you aware of any other way to make this work?

Thank you!

[2022-08-25 07:09] LukeGoodsell opened #10 "Working example of 'workflow' tests"
Posting the issue discussed [here](https://twitter.com/luke_goodsell/status/1562202613298462720):

Please can you share a working example of a test case for `workflow` objects? No matter how we try following the [documentation](https://code.askimed.com/nf-test/testcases/nextflow_workflow/), we get a `groovy.lang.MissingMethodException`:

**trial.nf**:
[code]

**trial.nf.test**:
[code]

**Output**:

[2022-08-26 06:24] mgonzalezporta opened #11 "Code coverage"
Hi there,

Is it possible to obtain a code coverage report for Nextflow scripts using nf-test? If not, would you have any alternative suggestions?

Many thanks in advance!

[2022-08-26 11:25] seppinho commented on #8
Hi there,
Thanks for giving nf-test a try. With nf-test you can test (a) processes, (b) workflows and (c) complete pipelines. In case you're using DSL2 modules, see here for some examples how to run nf-test on individual modules: https://github.com/askimed/nf-test-examples/tree/main/tests/modules/local

[2022-08-26 14:02] seppinho commented on #9
Thanks, the latest version now includes a command-line parameter (`--without-trace`) and a nf-test.config option to disable it for all runs (`withTrace = false`). Let us know if this works for you.

[2022-08-26 14:03] seppinho commented on #7
Thanks, should be fixed in the latest verion 0.6.0. Let us know if this works for you.

[2022-08-26 14:18] noepozzan commented on #9
Oh, that sounds good. Thanks, I'll try it and let you know.

[2022-08-26 14:26] lukfor commented on #10
Thanks, workflow tests are fixed in the latest version 0.6.0.

We added your example also to the documentation: https://code.askimed.com/nf-test/testcases/nextflow_workflow/

Let us know if it now works for you.

[2022-08-30 14:33] LukeGoodsell commented on #10
Works just right, thanks @lukfor! The docs were still showing a process test, though, so I raised [this PR](https://github.com/askimed/nf-test/pull/13) to update them.

[2022-08-30 14:33] #10 closed

[2022-09-13 17:38] vasquini opened #14 "Testing individual processes within a pipeline"
We know a pipeline can be tested, and so can individual processes in separate module files. But can I get an individual test for each process within a pipeline? We have a large nextflow script we were trying to test. The processes are not in individual files, but we want to have an individual test for each.

[2022-09-13 17:41] vasquini commented on #14
(base) [suj7@login02 Dev-micropipe4]$ nf-test generate process main.nf

🚀 nf-test 0.5.1
https://code.askimed.com/nf-test
(c) 2021 - 2022 Lukas Forer and Sebastian Schoenherr

Load source file '/scicomp/home-pure/suj7/Dev-micropipe4/main.nf'
Skipped. More then one process definition found. Please create one file per process.

SUCCESS: Generated 0 test files.

(base) [suj7@login02 Dev-micropipe4]$

[2022-09-22 22:30] birnbera opened #15 "Nested params"
Thank you for creating this package! I love the simplicity and flexibility. Unfortunately, I have run into an issue that will make it difficult to use `nf-test` in practice. Most Nextflow pipelines have some degree of nesting in their params, e.g.:

[code]

When running a test that includes nested params, I get an error. As an example:

[code]

Running this, I get:

[code]

Am I specifying the par

[2022-09-22 23:08] birnbera commented on #15
I just realized that it does work to define params using standard groovy for nested objects, as in:

[code]

It's not a bad workaround, but it would be nice to have a unified syntax between Nextflow and `nf-test`. I'd also still be interested in passing params as a file if that were possible.

[2022-09-23 05:37] lukfor commented on #15
Thanks for reporting this issues and giving nf-test a try. It definitely makes sense to use the same syntax as Nextflow. 👍 We will try to fix it.

Passing params as a file is not yet supported, but we will think about it...

[2022-09-27 10:40] aaron-fishman-achillestx opened #16 "Unit Test Nextflow Functions"
It would be great to be able to unit test nextflow functions in a similar way to processes/workflows. In addition to return values, the stdout/stderr could be captured and compared. For example:

### functions.nf
[code]

### functions.nf.test
[code]

[2022-09-28 12:56] nvnieuwk opened #17 "Checking output files of a pipeline"
Hi! First of all thank you for creating this awesome tool.
I do have one question, though: is it possible to check the output files from a pipeline, similar to how you can check the output of modules and workflows?

e.g. I use the `$params.outputDir` parameter automatically created by `nf-test` to define the output directory. Is it possible that the tests check the files in this directory along wi

[2022-09-29 09:47] nvnieuwk commented on #17
I've managed to do this by using `assert path("${outputDir}/path/to/output/file").md5 == "123456789abcdefghijklmnop"` for now. This seems like a nice solution to me, so I'm closing this issue

[2022-09-29 09:47] #17 closed

[2022-09-29 11:29] aaron-fishman-achillestx opened #18 "Ability to produce TAP output"
It would be helpful to have an option to run `nf-test` with[ TAP format output](https://testanything.org/). This would enable nf-test to be used alongside additional unit testing systems as a TAP producer.

For example: ` nf-test test --tap tap.txt example/*.nf.test `

[2022-09-29 13:13] byb121 opened #19 "Support of easy reading of VCF files"
Hi, it would be really useful if nf-test can read VCF files easily to a structural data class. I think something similar to the JSON extension will be sufficient, e.g.:

[code]

A quick google search returns me this lib ([Groovy NGS Utils](https://github.com/ssadedin/groovy-ngs-utils)), which might be useful for the implementation.

[2022-09-29 13:14] byb121 opened #20 "Support of easy reading of FASTA files"
Similar to other file formats, it can be useful for nf-test to support FASTA files, so that FASTA files can be compared agnostic to line wrapping width, e.g.:

[code]

It'll be more convinient if it can support gzipped FASTA files.

[2022-09-29 13:34] aaron-fishman-achillestx opened #21 "JUnit Output"
Would be really great if it was possible to optionally output test results in [xunit](https://xunit.net/docs/format-xml-v2) format - as this would make interfacing with reporting in CI systems, (eg bitbucket) easier.

For example, it could run: `nf-test test --xunit test_results.xml example/*.nf.test `

[2022-09-29 13:41] aaron-fishman-achillestx opened #22 "Compare tables of output to a specified level of precision"
Would be helpful if nf-test was able to compare tables of data (ie output csv/tsv) to desired level of precision.

[2022-10-01 10:51] lukfor commented on #14
Thanks for reporting that issue!

We updated the `generate process` command and it supports now files with multiple processes. It creates one test file per process.

This functionality is available in the next release.

[2022-10-03 11:56] lukfor commented on #16
Hey Aaron,

Thanks for your great concept! The outlined functionality fits perfectly into nf-test and I think it's super helpful :)
I had to change only two things from your proposal:
- Rename `function.return` to `function.result`, since `return` is defined as a keyword.
- It seems to me, that the `error(..)` functions print the error messages to stdout and not stderr.

Three scenarios are now po

[2022-10-03 11:56] #7 closed

[2022-10-03 11:56] #8 closed

[2022-10-03 12:01] lukfor commented on #9
I mark this issue as solved.

[2022-10-03 12:01] #9 closed

[2022-10-03 12:02] lukfor commented on #16
And here a working version of your example:

**`functions.nf`**

[code]

**`functions.nf.test`**

[code]

[2022-10-03 16:14] #14 closed

[2022-10-03 17:14] aaron-fishman-achillestx commented on #18
This is rad! For sure - we'll test this and the functions PR week.

[2022-10-04 13:26] lukfor commented on #20
Hi, I like the idea with the map! I started a new branch and implemented a simple FASTA reader 👍

[2022-10-05 13:29] Khushbu04in commented on #18
Hi,
I tried the feature. I think this is something we are really looking for. Though I found a bug here. I am not sure the issue is with TAP output or it is some other issue with the code:
I have run 4 test files consist of multiple cases init and running all these 4 files as a part of test suite, but getting different results everytime:

tests/local/nextflow.sh
tests/local/nextflow/paris/CollectS

[2022-10-05 14:10] lukfor commented on #18
Thank you for testing it! 🙏 Any chance to send us a minimal running example file for `tests/local/nextflow/paris/CreatePatientsChWf.nf`? We tried it with different testsuites and the output of the tests was always reproducible.

[2022-10-06 09:52] aaron-fishman-achillestx commented on #18
hey @lukfor , this code looks great. Just provided some feedback, but all minor points really. Will be great to re-use the abstraction for xunit!

[2022-10-06 10:50] aaron-fishman-achillestx commented on #16
Very cool! Just provided some comments for the PR. Odd that error does not write to stdout. I think Khushbu (our QA lead) is doing a bit more testing with this as well and will feedback on bugs if she finds.

[2022-10-06 11:08] aaron-fishman-achillestx commented on #20
Nice! I added some comments. I think @byb121  will be doing some testing and will feedback on bugs etc.

[2022-10-06 13:31] Khushbu04in commented on #18
Hi @lukfor

I tried to further analyse, and I think something is going wrong when testcase name in different files has name.
Here what I have done.
I used same process as yours https://github.com/askimed/nf-test/blob/main/example/say-hello.nf
Created 3 testfiles as yours `[say-hello.nf.test](https://github.com/askimed/nf-test/blob/main/example/say-hello.nf.test)`
with name trial 1, 2 and 3. I upda

[2022-10-06 16:36] lukfor commented on #18
Hi @Khushbu04in! Thanks, I will look into that!

Thank you @aaron-fishman-achillestx! Where can I find your feedback? There are no comments in the Pull Request.

[2022-10-06 16:45] aaron-fishman-achillestx commented on #18
I put here - is it not showing for you: https://github.com/askimed/nf-test/pull/24

[2022-10-06 16:48] aaron-fishman-achillestx commented on #18
oh they were pending @lukfor  - just submitted them as comments. Should be visible now

[2022-10-06 17:11] lukfor commented on #18
Cool! Thank you for your great code review and the comments! 👍

[2022-10-07 09:39] lukfor commented on #18
Hi @Khushbu04in! Thanks for you effort! how looks your `tests/nextflow.sh` file? Are you executing the testsuites in parallel?

[2022-10-07 11:47] Khushbu04in commented on #18
Hi @lukfor , yes my test cases are running in parallel. I understand, I am getting this issue because of that. But I think, by having different output directory it will solve it and help test run quickly.

[2022-10-07 14:00] lukfor commented on #18
Thank you, that makes sense!

The hash value (= output directory name) of a test is now unique across files. In addition, nf-test deleted the `.nf-test` directory on each startup. I removed this behaviour and added the new subcommand `clean` that can be used to clean-up the `.nf-test` directory manually (like in Nextflow). This should eliminate all side-effects when test cases are running in paral

[2022-10-10 15:02] Khushbu04in opened #26 "Couldn't import custom library file"
I am not able to import custom library file. Is there any easy way to do that?

[2022-10-10 15:45] nvnieuwk opened #27 "Allow multiple workflows in one test file"
Hi, thanks for creating this awesome tool! I'm currently in the process of creating an `nf-test` prototype for the [nf-core/modules](https://github.com/nf-core/modules) repository and have come across some small issues and improvement suggestions:

- To test the modules (which are processes) we use a workflow that consists of the module we want to test (and usually some other modules too, to creat

[2022-10-10 18:35] nvnieuwk commented on #27
Thanks for releasing the solution to this issue so fast! I'll give it a go tomorrow morning :)

[2022-10-10 18:35] #27 closed

[2022-10-10 18:36] lukfor commented on #27
Hi Nicolas! 👋

Thank you for giving nf-test a chance! 🙏

That makes sense! `when` is now optional.

That was already fixed, but not yet released. Should work now in 0.6.1.

Great suggestion! You can now override `workflow` for each test. Example: https://github.com/askimed/nf-test/blob/main/test-data/workflow/multi/trial.nf.test

----

I just released version 0.6.1. It includes your suggestions. H

[2022-10-10 19:30] lukfor commented on #27
I added now the `expect` keyword to workflow tests. So you can write your workflow tests in the same way as this pipeline test here: https://github.com/askimed/nf-test/blob/main/example/hello.nf.test
Its maybe easier to read as a `then` without `when` .

This feature is available in the next release.

[2022-10-10 21:11] nvnieuwk commented on #27
Awesome! Thanks @lukfor

[2022-10-11 10:16] nvnieuwk opened #28 "Config for separate tests"
Hi, thanks again for the quick fix yesterday!

While doing some more testing, I ran into the problem that I couldn't really specify any configuration to a specific test since the `nextflow.config` file specified in `nf-test.config` is applied to all tests. I then tried to supply the configuration inside the `when` clause like this:
[code]

But I got following error when trying this:
[code]

I've a

[2022-10-11 12:41] lukfor commented on #28
Hi again,

an inline Nextflow configuration (like in your example) is not an easy fix. But adding a `config` property should be much easier. For example, you could then set it in the testsuite for all tests:

[code]

Or you could overwrite the `config` property for a specific test:

[code]

This config is than **added** to the default configuration located in `tests/nextflow.config` (e.g. `nextflo

[2022-10-11 12:54] lukfor commented on #28
No, it should be straightforward. I hope to find tomorrow the time to implement it.

Thanks again for your feedback and for taking your time to test it!

[2022-10-11 12:55] nvnieuwk commented on #28
Great! Thanks for all the fast responses and flexibility on this!

[2022-10-11 14:06] nvnieuwk opened #29 "Suggestions from `nf-core`"
Hi again,

After a discussion in the `nf-core` community we came up with a couple more suggestions that could make incorporation of `nf-test` into `nf-core/modules` a bit easier to implement.

1. Could it be possible to supply a `.yaml` file with the assertions (a bit similar to how it is done in `pytest` => e.g. this [file](https://github.com/nf-core/modules/blob/master/tests/subworkflows/nf-core

[2022-10-12 05:01] #16 closed

[2022-10-12 05:07] lukfor commented on #18
I merged the pull request 👍

[2022-10-12 05:07] #18 closed

[2022-10-12 07:07] #28 closed

[2022-10-12 07:42] lukfor commented on #28
This feature is now available in version 0.6.2. You could find an example here: https://github.com/askimed/nf-test/blob/main/test-data/process/config/test_process.nf.test

[2022-10-12 07:46] nvnieuwk commented on #28
Awesome! Thanks again for the super fast release of this fix! :partying_face:

[2022-10-12 09:49] Khushbu04in commented on #26
No actually, I dont have jar file. It is a groovy file used in the code I am testing. I have to create instance on that file and pass as a parameter. I have added path of file in NXF_CLASSPATH, but its not working.
To be more clear RNGCreator is class we added in our code which is used to generate random number.
I want to add param in my code something like:
rngCreator = RNGCreator.instance
rngCre

[2022-10-15 19:47] birnbera opened #31 "Extending PATH with bin/ when testing processes"
Hi @lukfor, thanks again for the great work on this. I encountered what I believe is a bug in the way Nextflow is invoked when running process-level tests. In my case, I have scripts in `bin/` that Nextflow automatically adds to the `PATH` at runtime. When testing a process that calls one of the scripts in `bin/`, it fails because it can't find the script on the `PATH` but only when testing an ind

[2022-10-15 19:55] lukfor commented on #31
Hi! Thanks!

This issue should be fixed in version 0.6.2.

[2022-10-17 07:59] ivopieniak opened #32 "Feature request - Order-agnostic JSON/YAML object comparison"
Hi,

Thanks for developing the nf-test. It has a great potential to be a go-to tool for the whole Nextflow community.

It would be great if we could add an ability to JSON/YAML object comparison with included support of gzipped files. I believe nf-core and Nextflow people do try to push for using JSON a lot with configs etc. It could super useful to have this easy ability to compare JSON files her

[2022-10-17 08:16] ivopieniak opened #33 "Feature Request: Image comparison as an assertion"
Hi,

Image comparison comes in handy in some data processing/generation workflows, as nextflow can easily generate an output file, but could be corrupted without the user knowing about it.

Potentially, could we use this - https://romankh3.github.io/image-comparison/ ?

[2022-10-17 17:49] LukeGoodsell opened #34 "Change request: parse test params before process mapping"
Hi,

I would like to be able to create and define input files within a test rather than store them externally, like so:

[code]

However, in the `mock.nf` script, the `workflow` block is included before the parameters are parsed, and so I cannot access them:

[code]

Would it be ok to swap the order round, so params are parsed first? I'm happy to raise a PR for this change but I wanted to check if

[2022-10-18 14:53] #26 closed

[2022-10-18 15:18] LukeGoodsell opened #36 "Feature request: support Map objects in workflow outputs."
We use `Map`s in our workflow channels. When these are parsed from the `output_outputCh.json` file by the nf-test process [by the JsonSlurper](https://github.com/askimed/nf-test/blob/9a6c998090102bdc413505a9538791a65efd1625/src/main/java/com/askimed/nf/test/lang/process/ChannelsOutput.java#L27-L38), they are read as `LazyMap` objects. However, [these are not recognised by the `compareObjects` meth

[2022-10-18 15:53] lukfor commented on #36
Hi Luke!

I see, it makes absolutely sense to support maps.

We sort the items of a channel to get a deterministic order that we can use when we write asserts. For paths we sort only by filename to get a logical order independent from the process subfolder in the work directory. What do you think would be the best comparison method/strategy for maps? Sorting nested maps could be challenging, there

[2022-10-19 08:38] matthdsm opened #37 "Feature request: `profile` support in CLI"
Hi,

Would you be able to add a `--profile` flag to the `nf-test test` CLI?
That way we could define different config profiles depending on which tests we want to run. e.g. local tests vs full scale tests on a cluster.

[2022-10-19 09:43] matthdsm opened #38 "Feature request: github ci workflow"
Hi,

Would you be able to add a "recommended" github CI workflow example to run nf-test on github actions?
Alternatively, would you be able to add a dedicated action?

Thanks
M

[2022-10-19 10:09] matthdsm commented on #37
nvm; RTFM
😑

[2022-10-19 10:09] #37 closed

[2022-10-19 12:31] matthdsm opened #39 "Feature request: autogenerate assertions"
Hi,

Would it be possible to add a function to auto generate assertions for a test?
e.g. we define a test and then run `nf-test create-assertions`, which would output `size()` and `checksum` assertions for example.

Thanks

[2022-10-19 12:50] lukfor commented on #39
Hi!

First of all, thank you for maintaining the bioconda recipe! 🙏

We are currently working on snapshot testing (similar to https://jestjs.io/docs/snapshot-testing). A snapshot contains the content of a channel and the checksum for files. The first time this test is run, nf-test creates a snapshot file. The features is already implemented, but we need some more testing. However, it is the next f

[2022-10-19 12:51] matthdsm commented on #39
Awesome, works for me 😄
Thanks, looking forward to the next version!

[2022-10-19 12:51] #39 closed

[2022-10-19 16:02] LukeGoodsell commented on #36
Hi Lucas!

A recursive per-item comparison should do the trick, along with conversion to `SortedMap`s. I'll code this up when I get a chance some time in the next couple of weeks.

[2022-10-20 04:40] #34 closed

[2022-10-20 06:02] lukfor commented on #34
Great! It is also possible to create the file in the `setup` block, but then you need an extra variable.

See here:
https://github.com/askimed/nf-test/blob/b85b19953fc3afdc18b9438658189439a5e2b2ff/test-data/workflow/issue34/trial.setup.nf.test

[2022-10-21 10:27] aaron-fishman-achillestx commented on #36
This is great! Need to make sure the recursion depth doesn't get out of hand as stack overflow errors can be awkward to recover from. An iterative approach is also possible here, and might be more efficient if the savings on function calls are significant.

@LukeGoodsell  - do you think this MapDifference tool could be utilised for this purpose?
https://guava.dev/releases/snapshot/api/docs/com/goo

[2022-10-24 19:52] odoublewen commented on #15
Passing params from a file (json, yaml, etc) is almost a must have feature, IMO.  We have big datasets we'd like to test and it would (will) be very painful to convert the json to the groovy object notation.  I'm not sure of anyway to do it other than by hand.

@Khushbu04in could you share your full approach?  I'm not sure how to get the data into the `when {}` closure.

I can do this outside of `

[2022-10-24 20:21] willburden opened #40 "Nevermind"
Hi! I have a file named `Util.groovy` which contains functionality I would like to share between tests. According to the documentation, placing this file in the `lib` directory allows it to be accessed from within the `then` block — very nice!

However, I would like to use some of the util methods to prepare the environment before running the tested process (e.g. creating a temporary directory to

[2022-10-24 20:30] #40 closed

[2022-10-25 15:28] lukfor commented on #40
Hi! sorry for the confusion! We just released nf-test 0.7.0 and in this release everything should work as documented.

[2022-10-25 15:31] lukfor commented on #20
This is now integrated as a plugin. See https://code.askimed.com/nf-test/assertions/fasta/

Thanks @aaron-fishman-achillestx  and @byb121 for your help and efforts!

[2022-10-25 15:31] #20 closed

[2022-10-26 03:33] Emiller88 commented on #29
Awesome stuff! I'm really excited to get this into nf-core/modules! Do you have anything you can share about the road map for tags? I know we can use pytest-workflow to run nf-test just like we do nextflow right now, but I'd love to cut out the extra dependancy and migrate to nf-test in one move.

So I guess I'm just asking is it a few weeks off, before 2023, before or after March 2023 (our next h

[2022-10-26 07:03] nvnieuwk commented on #29
Thanks @lukfor! I'll have a look when I got some free time and will surely let you know if we encounter any problems. Thanks for the nice addition :partying_face:

[2022-10-27 09:40] aaron-fishman-achillestx commented on #36
Hey @lukfor really awesome to see `0.7.0` released!

Do you envision this feature being in this repo - or as a plugin that resides in a separate repo? My instinct is this is would be useful for the wider community and should live here in nf-test

[2022-10-27 09:49] lukfor commented on #36
Hi, yes, I agree with you. This is a core feature and should be intergrated directly in the nf-test codebase.

[2022-10-27 12:15] nvnieuwk commented on #29
Hi, I've been trying out the new `snapshots` feature for a little bit and found one small issue. It won't run the snapshot test in the following example and I get no warning or error telling me what I did wrong.

[code]

This test checks for:
 - md5sum of files that stay consistent during multiple runs
 - the existence of files that differ during multiple runs and cannot be read using `linesGzip`

[2022-10-27 12:45] nvnieuwk opened #43 "Bug report: `nf-test` stops at first failure"
Hi,

The output of `nf-test` only show the first assertion failure even if there are multiple assertion failures. It would be really helpful and a time saver if the output would show all assertion failures at once. I hope this won't be too hard to implement.

Cheers,
Nicolas

[2022-10-29 16:01] lukfor commented on #29
You created the `snapshot` but you forgot to execute the `match()` method to compare it with the saved snapshot.

However, I agree with you that we need a better error reporting for that case.

[2022-10-29 16:03] lukfor commented on #29
Thanks. We plan to release this feature in the next version in about 2-3 weeks.

[2022-10-31 13:54] aaron-fishman-achillestx commented on #21
Hey @lukfor  / @seppinho ,

We've realised it's really JUnit XML output we need (rather than xunit). We're now looking into generating JUnit xml data instead (possibly using the JUnit package or otherwise). If there are any specific packages you'd recommend for this, let me know!

Seems like JUnit xml is a standard format that CI systems often use, so perhaps it will also be valuable for others in

[2022-11-01 12:21] aaron-fishman-achillestx opened #44 "Bug Report: PluginTest Failure"
Hi nf-test, (@lukfor @seppinho )

Having an issue getting `mvn install` and `mvn test` to run without errors on the latest version. The new `PluginsTest` fails due to a missing class property:
`groovy.lang.MissingPropertyException: No such property: fasta for class: sun.nio.fs.UnixPath`

However, if I run `mvn test -Dtest="PluginsTest"` the test passes just fine!

I have attached the surefire repo

[2022-11-01 13:34] jfy133 commented on #29
I'm not sure if we should keep a thread of all the nf-core requests here rather than seaprate issues, but just in case x-ref: https://github.com/askimed/nf-test/issues/43

[2022-11-01 14:56] Emiller88 commented on #29
Maybe a tag for nf-core? I think new issues should be made, rather than just trying to keep track of what we want in one long thread.

[2022-11-02 09:21] nvnieuwk commented on #29
Thanks! :partying_face:

[2022-11-02 10:48] lukfor commented on #21
We are using [`tap4j` ](https://github.com/tupilabs/tap4j)to create the TAP output. The class `TapProducerFactory` provides also a [JUnit producer](https://tap4j.sourceforge.net/apidocs/org/tap4j/producer/TapProducerFactory.html). This would be the easiest way, because the code from [TapTestReportWriter](https://github.com/askimed/nf-test/blob/main/src/main/java/com/askimed/nf/test/core/reports/Ta

[2022-11-02 10:52] lukfor commented on #29
Thanks for your suggestion. We created a `nf-core` label and it would help us if you can create separate issues.

[2022-11-02 13:53] lukfor commented on #44
Thanks for reporting this issue. The CI on GitHub executed the testcases in a different order therefore we didn't spot this issue. The problem is now fixed in main branch.

[2022-11-02 14:11] aaron-fishman-achillestx commented on #44
Awesome - just tested this and happy to confirm the tests are passing now. Thanks for the fix!

[2022-11-02 14:11] #44 closed

[2022-11-02 14:27] Emiller88 commented on #29
@lukfor Can we change the color of the label to `#24B064`?

[2022-11-02 15:36] aaron-fishman-achillestx commented on #21
Hey @lukfor ,

Just made a PR for this feature! We opted for using the core java XML writing utilities for implementation. Look forward to your feedback.

[2022-11-02 17:16] #21 closed

[2022-11-02 17:23] lukfor commented on #21
Thank you @aaron-fishman-achillestx and @byb121!

[2022-11-03 10:07] Khushbu04in opened #46 "Bug in importing custom class"
I tried example of Third-Party library file given on https://code.askimed.com/nf-test/assertions/libraries/
Getting below error:
groovy.lang.MissingMethodException: No signature of method: static MyWordUtils.capitalize() is applicable for argument types: (String) values: [world]
  Possible solutions: capitalize(java.lang.String)

[2022-11-03 11:48] lukfor commented on #46
Hi!

There was a typo in the documentation in the `MyWordUtils.groovy` example. The method `capitalize` was not defined as `static`. I updated the documentation as following:

[code]

Moreover, we extended the example by the following process `capitalizer.nf` to provide a running example:

[code]

The test file `capitalizer.nf.test` remains the same:

[code]

[2022-11-03 14:40] vasquini opened #47 "Bug Report: Generating Multiple Process from the same File"
I have a file, main.nf, with many processes for a pipeline. I ran:
`nf-test generate process main.nf`
and I got the following. Notice that main.process and main.fastq.nf.test are one file called "main. process main.fastq.nf.test" but I think should be separate files.
![image](https://user-images.githubusercontent.com/82479384/199750738-03d44e56-7d3d-4001-8b0e-e0a53951b5f9.png)

[2022-11-03 14:40] ivopieniak commented on #32
Hi @lukfor,

Me, @aaron-fishman-achillestx @byb121 were thinking of implementing this feature as the next one during our hackathon. One thing that caught our attention was that, we would potentially abstract the code that has been used in the FASTA comparison plugin in order to maintain similar syntax. Therefore, we have a couple of questions:
1) Should we be writing this feature as a part of the

[2022-11-03 14:48] vasquini opened #48 "MissingPropertyException Issue"
I generated the process through `nf-test generate process main.nf` where main.nf has multiple processes and the file I'm working on is called "main.basecalling.nf.test". I have been trying to get the input into this process by using Channel.fromPath() and file() but it always results in the following error:
groovy.lang.MissingPropertyException: No such property: Channel for class: com.askimed.nf.t

[2022-11-03 16:06] lukfor commented on #48
Hi!
Could you please share the whole nf.test script with me?

It seems that you forgot the `"""` in the `process` block. Example:

[code]

The process mapping has to be a multi-line string, because this code is executed by Nextflow.

[2022-11-03 16:41] lukfor commented on #47
Thank you!

I think the following comment on [line 369 ](https://github.com/vasquini/EDLB-micropipe/blob/10a1f25306901659149fbc1f12a7f14961a20409/Dev-micropipe4/main.nf#L396) in your `main.nf` file could be a problem for the `nf-test generate` command.

Could you try to remove it? I will fix this bug in the next release 👍

[2022-11-03 19:16] lukfor opened #49 "Feature Request: Add tag system"
@nvnieuwk:

See #29

[2022-11-03 19:17] vasquini commented on #47
Thanks so much! Removing the comment fixed this issue.

[2022-11-03 19:17] #47 closed

[2022-11-03 19:17] lukfor commented on #29
Tags moved to #49

[2022-11-03 19:17] #29 closed

[2022-11-03 19:19] #31 closed

[2022-11-03 19:25] vasquini commented on #48
That might fix my issue. I will try that. I mistook it for some sort of comment, and my working process is within the """. Thanks!

[2022-11-03 19:25] #48 closed

[2022-11-04 04:59] Emiller88 commented on #38
Here's an example! https://github.com/nf-core/methylseq/blob/5893122512add5350e4d9e3235b8e2fb500e5679/.github/workflows/ci.yml

[2022-11-04 05:00] Emiller88 commented on #11
https://github.com/pcolby/tap-summary
https://github.com/nf-core/methylseq/blob/5893122512add5350e4d9e3235b8e2fb500e5679/.github/workflows/ci.yml#L70-L76

[2022-11-04 05:01] Emiller88 opened #51 "403 from https://code.askimed.com/install/nf-test/"
Probably wasn't ready to get spammed by CI, but it threw a 403 on one of the actions. I can't find it now, but I'll drop an example if I get it again!

[2022-11-04 11:09] lukfor commented on #51
Thanks for informing me. The install script is hosted on GitHub pages and it downloads the latest release from GitHub.

[2022-11-04 11:13] lukfor commented on #32
Cool! Thanks for the support! :+1: I think this is a core functionality and should be part of nf-test.

I would recommend the following approach:

(1) Adapt the existing `json` method of [`PathExtension`](https://github.com/askimed/nf-test/blob/main/src/main/java/com/askimed/nf/test/lang/extensions/PathExtension.java) to return a `JsonFile` instead of `Map`:

[code]

(2) Implement the class `JsonF

[2022-11-04 15:53] ivopieniak commented on #32
@lukfor thanks a lot for your snippet!

We have realised that this functionality is already built in to the JSONslurper. Following line works already pretty well! Unless there's something that we are unaware of, I think that all we need to do is to mention this possibility in the documentation. We are happy to update the docs if you would like :)!
[code]

Additionally, we will go ahead and extend

[2022-11-04 16:35] lukfor commented on #32
Thanks, that would be great!

Perfect! Thank you guys!

[2022-11-04 18:28] #32 closed

[2022-11-07 09:32] #15 closed

[2022-11-07 10:31] aaron-fishman-achillestx commented on #43
Hey @nvnieuwk ,

Your suggestion is akin to [JUnit's assertAll ](https://junit.org/junit5/docs/5.0.1/api/org/junit/jupiter/api/Assertions.html#assertAll-org.junit.jupiter.api.function.Executable...-). Here is a [StakeOverflow example](https://stackoverflow.com/questions/40796756/assertall-vs-multiple-assertions-in-junit5) as well.

It doesn't look like groovy has an assertAll out of the box. Fairl

[2022-11-07 10:37] nvnieuwk commented on #43
That would be an awesome addition! Good to know it's not that difficult to implement :rocket: . Could it also be possible to maybe let `nf-test` do this by default without having to add an extra line of code?

[2022-11-07 10:53] aaron-fishman-achillestx commented on #43
Cheers! I think that might be more difficult, as we would have to figure out how to resume a failed execution, or redefine the assert method to log the error instead of throwing. I'm unsure about this this sort of behaviour, as this isn't how groovy or java does it. My instinct is to align with existing testing design patterns here.

@lukfor what do you think?

[2022-11-07 11:11] lukfor commented on #43
Thanks @aaron-fishman-achillestx, cool idea! Your `assertAll` suggestion fits perfect with the nf-test concept, because I would also avoid to change the behaviour of the existing `assert` method.

It would be great if you could try to implement this feature by translating the code to java and adding it as static method to the class [`GlobalMethods`](https://github.com/askimed/nf-test/blob/main/src

[2022-11-07 11:15] lukfor commented on #15
This feature is now available in version 0.7.1

👉 https://code.askimed.com/nf-test/testcases/global_variables/

[2022-11-07 12:00] ivopieniak commented on #46
Hi @lukfor , I have double-checked if everything works as expected per documentation, and it seems that it works as expected. I opened a minor PR with bits of documentation updates which I think should conclude this issue.

[2022-11-07 12:08] ivopieniak opened #54 "Feature Request: Auto discovery of test files within the repository"
Hi,

Would it be possible to implement an auto-discovery test case feature for nf-test? What I would have in mind would be a similar feature what for example [pytest](https://docs.pytest.org/en/7.2.x/explanation/goodpractices.html#test-discovery) provides :
1. If no args provided, then collection would start from any pre-defined in the config testpaths or the current directory.
2. Recurse into dir

[2022-11-07 12:29] lukfor commented on #46
Thanks Iwo!

[2022-11-07 12:54] byb121 opened #55 "Access output of processes without named output channel"
Nf-test provides a very convenient way to access named output channels of a Nextflow process, e.g.: `process.out.my_outCh`,  but many of our Nextflow processes do not create a named output channel, e.g.: not using `emit` the script. I wonder if there Is any method to access these outputs for assertions conveniently?

[2022-11-07 17:49] #43 closed

[2022-11-08 09:05] nvnieuwk commented on #55
Hi, does `process.out.get(0)` not work?

[2022-11-08 10:39] aaron-fishman-achillestx commented on #36
Hey @lukfor  we are working on this today. Have you got time for a quick chat? Trying to work out a solution

[2022-11-08 11:19] lukfor commented on #36
Cool! Today I'm in meetings. if helpful and you can outline the idea, I'm probably able to give you feedback later today.👍

[2022-11-08 11:28] byb121 commented on #55
Hi @nvnieuwk,

I've tried it. It does not solve the issue. Without a named channel, `process.out` is an empty map.

With a little change on one of the existing examples, we can prove it:

[code]

[2022-11-08 12:02] byb121 commented on #36
Hi @lukfor,

We found that as soon as there's a `Map` or `Array` (`tuple` in Nextflow realm) in output channel of a workflow/process and there's more than one element in the channel, nf-test will raise the warning: `Warning: Unsupported classes: class org.apache.groovy.json.internal.LazyMap vs. class org.apache.groovy.json.internal.LazyMap`.

We can replicate this with this minimum example:
[code]

[2022-11-08 12:09] byb121 opened #57 "nf-test hang on very simple workflow tests"
nf-test can hang when running a test on a very simple workflow. Here's the code to replicate the issue:

[code]

[2022-11-08 12:37] lukfor commented on #55
I have a local branch that solves this issue. I can push it tomorrow.

[2022-11-08 13:32] ivopieniak commented on #11
After some deeper thinking, me, @aaron-fishman-achillestx and @byb121 came to a conclusion that implementing a code coverage tool should involve discussion on the paradigm and level of coverage measurement first. Here are a few questions that we think that would help to develop the code coverage feature:
1. What level of the granularity should be considered the lowest when measuring the coverage u

[2022-11-08 14:57] nvnieuwk opened #58 "Support for `linesGzip` in snapshots"
Hi,

Is it possible to add support for `linesGzip` to snapshots? In some cases `md5sums` differ and a simple `path` snapshot is not possible to use. It would be helpful if I could supply a line number or numbers that the snapshot needs to check for.

Suggestion:
[code]

Cheers,
Nicolas

[2022-11-08 17:34] Emiller88 commented on #11
I was thinking this would make sense as a plugin.

I think just an `if` statement in a `script:` directive would be nice to know if that was covered or not.

I think this is a good point. Probably not a huge priority IMO, but at a minimum telling you how many `.nf` files are covered would be nice just to see if you're missing anything.

[2022-11-09 10:47] byb121 commented on #36
Hi @lukfor, would you have time today for a quick chat?

[2022-11-09 13:12] lukfor commented on #36
Sorry, my days are much busier than expected.

Just some quick thoughts: I am currently not sure if removing the sort function is the best solution.

(a) All existing testcases would break
(b) Implementing an `assertUnsorted` would no be trivial
(c) It would be hard to identify the files in the channel, when the items are not sorted and have no deterministic order. For example we have an output ch

[2022-11-09 13:47] lukfor commented on #55
I pushed the branch (junit testcases are not yet implemented):

https://github.com/askimed/nf-test/tree/features/unnamed-output-channels

Could you give it a try?

This should work:

[code]
This should also work:
[code]

[2022-11-09 15:56] #54 closed

[2022-11-09 17:29] aaron-fishman-achillestx commented on #36
Awesome, thanks for offering to give this ago, that is much appreciated. It doesn't look like [Map](https://docs.oracle.com/javase/8/docs/api/java/util/Map.html)s, including [LazyMaps](https://commons.apache.org/proper/commons-collections/apidocs/org/apache/commons/collections4/map/LazyMap.html), have a `compareTo` methods, only a `equals` method for use in `==` operations.

So it seems some  gene

[2022-11-09 17:36] byb121 commented on #36
Thanks for the reply. I agree that backward compatibility can be an issue.

I can see it's super convenient to have a sorted output channel that provides users lists in a deterministic order, but we know that a real channel has no deterministic order, so perhaps nf-test does not have to guarantee the order either. In most of our processes/workflows, output files will be coupled with an ID value, s

[2022-11-09 17:44] aaron-fishman-achillestx commented on #36
fair point. Can provide both options this way.

[2022-11-09 17:57] lukfor commented on #36
Thanks for your input! So what you think about the following:

(1) We extend the `sort` method to work with maps

(2) We extend the possibility to disable sorting. Currently, you can disable sorting only for a specific test:

[code]

We could add this property also to testsuites and to the config file to change default behaviour.

I hope to find some free time on Friday to play/experiment wit lazy

[2022-11-09 18:04] aaron-fishman-achillestx commented on #36
I like that idea!

[2022-11-10 11:21] ewels opened #60 "Testing config resolution at task level"
Hi there,

Thanks for nf-test, having a lot of fun with it in @nf-core and it's working well. Apologies if this is a naive question, still getting to grips with the concepts.

In the pipeline I'm working on at the moment I have a particularly [horrendous chunk](https://github.com/nf-core/methylseq/blob/977767c45496e12d49e1798d89255698849bb46e/conf/modules.config#L53-L139) of Nextflow config and I'

[2022-11-10 14:33] aaron-fishman-achillestx commented on #36
Hello @lukfor / @LukeGoodsell

Using groovy, we came up with an alternative strategy for asserting maps / json / tuples etc that doesn't require sorting or traversal. Either:
- Assert the contents of the channel in an order-agnostic manner: `assertInAnyOrder(channel.out.outputCh, expected)`
- Assert specific examples exist in the channel: `assert channel.out.outputCh.contains(expected)`

To deal w

[2022-11-10 15:32] lukfor commented on #36
Really cool idea! The examples are looking great and I think this is the perfect alternative to sorted channels. You found a good solution without breaking existing testcases that rely on sorted channels 👍

I will review the PR tomorrow 👍  Thanks guys!

[2022-11-10 17:44] byb121 commented on #55
Hi @lukfor,

That works great in my hand. Thanks for the quick fix. It'll be great if we can follow Nextflow's way to handle process/workflow's output, e.g.: `process.out` for unnamed output, `process.out[0], process.out[1]` for first and second channel and `process.out.outputCh` for a named output channel. This means developers can quickly move their Nextflow code into test cases with minimum cha

[2022-11-10 19:12] lukfor commented on #55
Yes, that makes totally sense.

We support it already or have I missed something?

[2022-11-10 21:09] odoublewen opened #62 "new nested params `load` feature breaks workflow"
@lukfor The support for nested params and loading them from external files (#50, fixing #15) is a very welcome new feature, thank you!

However, I am confused by something -- it seems like the `load()` method is injecting `baseDir` and `outputDir` into my params.  And not just at the top level but in nested maps too.  Example:

Here is my `main.nf.test` file:
[code]

Here is my `params_debug.json`

[2022-11-10 21:26] lukfor commented on #62
Thanks for reporting this issue 👍 I will look into it and remove the variables from the nested maps.

[2022-11-11 00:22] byb121 commented on #55
Apologies, I played output channels in nf-test a bit more and yes,  it's almost identical to a channel in Nextflow. The only difference I found is that in Nextflow `process.out` can return the channel content if a process only outputs a single element, either named or unnamed, while in nf-test, we'll have to use `get(0)` or use the channel name. However, I suppose it'll require quite a bit of work

[2022-11-11 11:48] lukfor commented on #60
Good point, thanks for the suggestion! ATM there is no way to check this, but I keep this task on our todo-list 👍

[2022-11-13 20:59] maxulysse opened #66 "outputDir point to the full path"
`outputDir` point to the full path
I'm trying to have `params.outdir` to be relative, and not really any idea on how to do so.
Any solutions to get `outputDir` to be relative?
Or any other variable that can be used for that?

This is what I have:
[code]

This is what I'm trying to do:
[code]
I have some files that are created with using `params.outdir` and it messes up the checksum with the full p

[2022-11-14 08:14] nvnieuwk commented on #66
Can you remove the `baseDir` from the `outputDir`? This would have the desired effect, right?

[2022-11-14 10:20] maxulysse commented on #66
We could probably update [the docs](https://code.askimed.com/nf-test/testcases/global_variables/#outputdir):
This part lead me to believe the path would be relative:

[2022-11-15 11:29] aaron-fishman-achillestx commented on #62
@lukfor  perhaps you can do this by putting these vars in the delegate of the closures, rather than in the closure's themselves?

[2022-11-15 11:29] aaron-fishman-achillestx commented on #62
or could be manually removed as well I guess.

[2022-11-16 14:44] lukfor commented on #62
I remember I had some problems with this approach and variable substitution. But I will look into that the next days.

[2022-11-16 22:42] birnbera commented on #62
As a workaround, I found that I can replicate the `load` functionality without the extra keys side effect using:

[code]

I believe this works because the params map is the delegate of the params closure and forwards the `putAll` method to the underlying map.

[2022-11-17 12:57] julibeg commented on #55
Hi there!
When is this going to be merged? It would make life a lot easier for us too.

[2022-11-17 13:41] maxulysse commented on #66
BTW, solved it for now with:
[code]

[2022-11-17 16:35] julibeg commented on #57
Seconded; `new File("${params.nf_test_output}/function.json").text = jsonOutput.toJson(result)` in the mock script blocks when only parsing a small CSV.

[2022-11-21 19:18] #55 closed

[2022-11-22 18:32] Emiller88 opened #67 "Diffing on snapshot failure"
Instead of

<details>

[code]

</details>
I'd love if that was tossed in two seperate files and/or a diff was printed instead. Like so

[code]